/* body{ 
  background-color: black;
}*/
.App {
  text-align: center;
}
.AddContent{
  background-color: aqua;
}
.Mando::placeholder 
  {
    color: red;
    opacity: 1; /* Firefox */
  }
.Mando{
  margin-top: 30px;
}
.Search{
  background-color: white;
}
.test{
text-align: center;

}
